.AnimationPage {
  article[name="CubeAnimation"] {
    width: 100%;
    border: 2px solid white;
    padding: 20px;

    > div.cubeContainer {
        margin: auto;
        width: fit-content;
        height: fit-content;
        padding: 70px;

        > div.cube {
            position: absolute;
        }
    }
  }
}
